nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
  .container-fluid
    .navbar-header
      a.navbar-brand() ReviewHub
    ul.nav.navbar-nav.navbar-right
      li
        a((click)="login()") Login