nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
  .container-fluid
    .navbar-header
      a.navbar-brand([routerLink]="['/']") ReviewHub
    ul.nav.navbar-nav
      li
        a([routerLink]="['/']") Projects
    ul.nav.navbar-nav.navbar-right
      li(*ngIf="auth != null")
        a([routerLink]="['/profile']") {{auth.github.username}} 
          span.fa.fa-user(aria-hidden="true")
      li.hoverhand([ngSwitch]="auth != null")
        template([ngSwitchWhen]="true")
          a((click)="logout()") Logout
            span.fa.fa-sign-out.pull-right.fa-logout-align(aria-hidden="true")
        template([ngSwitchWhen]="false")
          a((click)="login()") Login
            span.fa.fa-2x.fa-github.pull-right.fa-login-align(aria-hidden="true")