section.container-fluid#project
  .row
    .col-md-5.col-md-offset-1
      h4 Add a project
      form((ngSubmit)="onSubmit(project)", #projectForm="ngForm")
        .form-group
          label(for="project_name") Name of the project
          input.form-control(id="project_name", name="project_name", placeholder="Enter a name", required, [(ngModel)]="project.name", ngControl="name")
          //- small.text-danger([hidden]="name.valid || name.pristine") Required
        .form-group
          label(for="project_url") Location of the project
          input.form-control(id="project_url", name="project_url", placeholder="Enter the url for the project", required, [(ngModel)]="project.url", ngControl="url")
        .form-group
          label(for="project_desc") Location of the project
          textarea.form-control(id="project_desc", name="project_desc", placeholder="Enter a description for the project. Remember to inform where you want your comments!", required, [(ngModel)]="project.desc", ngControl="desc", rows=12)
        .row
          .col-md-6
             h4 Languages
                div.checkbox(*ngFor="let lang of langs")
                  label
                    input(type="checkbox", id="lang_cb_{{lang.$key}}", name="lang_cb_{{lang.$key}}", (change)="updateSelection($event, lang, 'langs')") 
                    span {{lang.$value}}
          .col-md-6
            h4 Frames and libraries
              div.checkbox(*ngFor="let frame of frames")
                label
                  input(type="checkbox", id="frame_cb_{{frame.$key}}", name="frame_cb_{{frame.$key}}", (change)="updateSelection($event, frame, 'frames')") 
                  span {{frame.$value}}

        button.btn.btn-default.btn-success(type="submit") Save project

