section#profile.container-fluid
  section.auth-info
    .media
      .media-left
        a
          img.media-object.media-image(src="{{auth.github.profileImageURL}}")
      .media-body
        h4 {{auth.github.username}}
        {{auth.github.displayName}}
