* 
  border-radius 0 !important
  
body
  padding-top 150px
  
.center
  text-align center
  
.hoverhand
  cursor pointer
  
.fa-login-align
  line-height 0.7em
  
.fa-logout-align
  line-height: 1.5em;
  
.nav-text
  color white
  
    
.media-image
  width 64px
  height 64px
  
.auth-info
  margin-bottom 2em
  
.ng-valid[required] 
  border-left 5px solid #42A948


.ng-invalid 
  border-left 5px solid #a94442
  
.control-row
  margin-bottom 0.3em

.project-list-group
  padding-left 0
.list-row
  margin-bottom 0.8em
.list-row-heading
  font-weight bold
  font-size 1.3em
.list-row-lb
  margin-right 0.3em
  
@media (min-width: 768px)
  body
    padding-top 70px